*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-border:#000;
  --color-primary: #47784f;
  --color-on-primary: #FFFFFF;
  --color-base: #CB997E;
  --color-bark: #543427;
  --color-text: #1B1B1B;
  --color-muted: #A5A58D;
  --color-bg: #FFF1E6;
  --color-accent-dark-bg: #161e11;
  /*header hamburger menu button settings*/
    --burger-width: 40px;
  --burger-height: 30px;
  --bar-height: 2px;
  --bar-spacing: 8px;
  --bar-color: var(--color-primary);
  --burger-rotation-offset: 14px;
  --burger-line-radius: 9px;
}
/*General Customized Elements*/
button {
  padding: 0.5em 1.2em;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  border: 1px solid var(--color-muted);
  cursor: pointer;
}
/*Mobile Layout*/
.page-grid{
  background-color: var(--color-light);
  display: grid;
  grid-template-columns: 1fr;
/*grid-template-rows = auto if not defined*/
  grid-template-areas:
  "header" 
  "main" 
  "footer";
}
h3,a{
  color: var(--color-on-primary);
}
/*header and sibling settings*/
header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid ;
  overflow: hidden;
  background-color: var(--color-accent-dark-bg);
}
/*container for logo and humburger button*/
.header-logo-and-menu-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
/*Logo*/
header img{
  height: 50px;
  aspect-ratio: 1;
  object-fit: contain;
}
/*hamburger button settings*/
#hamburger-button {
  width: var(--burger-width);
  height: var(--burger-height);
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-button span {
  display: block;
  position: absolute;
  height: var(--bar-height);
  width: 100%;
  background: var(--bar-color);
  border-radius: var(--burger-line-radius);
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform-origin: center center;
}

/* Position each bar */
#hamburger-button span:nth-child(1) {
  top: 0;
}

#hamburger-button span:nth-child(2) {
  top: calc(var(--bar-spacing) + var(--bar-height));
}

#hamburger-button span:nth-child(3) {
  top: calc((var(--bar-spacing) + var(--bar-height)) * 2);
}

/* Open state: cross animation */
#hamburger-button.open span:nth-child(1) {
  transform: rotate(45deg);
  top: var(--burger-rotation-offset);
}

#hamburger-button.open span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

#hamburger-button.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: var(--burger-rotation-offset);
}
/*navigation + sibling settings*/
header ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
header.nav-active ul {
  max-height: 500px;
}
nav{
  border-top: 1px solid var(--color-border);
}
nav a {
  display: inline-block; /* or block */
  padding: 1rem 2rem;
  width:100vw; /* or fixed value */
  height: auto; /* or fixed value */
  color: var(--color-on-primary);
  text-transform: uppercase;
  text-align: center;
  font-size: 2.0rem;
}
nav a:hover {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
nav a:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
/*Hero section and siblings*/
#hero{
  display: grid;
  place-items: center;
background-image:
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('images/Biophilic-Landscaping-Design-1.png');
     background-size: cover;
     background-position: center;
  height:91vh;
  color: var(--color-on-primary);
}
#hero div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
   letter-spacing: 2px;
   text-align: center;
   max-width:500px;
}
#hero h1{
 letter-spacing: 3px;
 font-weight: 100;
 font-size: clamp(4.2rem, 5vw, 8rem);
}
#hero p{

  font-size: clamp(1.6rem, 2.5vw, 2.4rem);

}
#hero button{
  color: var(--color-on-primary);
}
#hero button:hover{
  background-color: var(--color-primary);
}
/*main and sibling settings*/

main{
  grid-area: main;
}
.plant-nursery{
  min-height: 200px;
  display: grid;
  background-color: var(--color-accent-dark-bg);
background: url('images/natural-paper.png') repeat;
background-size: 100px;
padding: 50px 20px;
}
.plant-nursery p{
text-align: center;
}
.plant-nursery h2{
  color: var(--color-accent-dark-bg);
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
}
.plant-nursery-service-cards{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.plant-nursery article{
  background-color: var(--color-accent-dark-bg);
 height: 280px;
}
.plant-nursery article p{
  border-bottom: 1px solid var(--color-on-primary);
}
.service-card-1,.service-card-2,.service-card-3{
display: flex;
flex-direction:column;
align-items: center;
justify-content: space-evenly;
padding-top:50px ;
}
.service-card-1{
  background-image:
  linear-gradient(rgba(40, 51, 26, 0.68),rgba(40, 51, 26, 0.68)),
  url('images/outdoor-design.png');
  background-size:cover;
}
.service-card-2{
  background-image:
  linear-gradient(rgba(104, 91, 62, 0.6),rgba(104, 91, 62, 0.6)),
  url('images/estate-styling.png');
  background-size:cover;
}
.service-card-3{
  background-image:
  linear-gradient(rgba(71, 89, 67, 0.6),rgba(71, 89, 67, 0.6)),
  url('images/plant-studio.png');
  background-size:cover;
}
/*footer and sibling settings*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-bark);
  color: var(--color-on-primary);
  grid-area: footer;
}
footer>div:nth-child(1) img{
  height: 50px;
}